// ---------- Body styles --------- //

.page-title{
	margin:0px 0 10px;
	padding:15px 0;
	font-size: 2em;
	font-weight: 600;
	color:#333;
	border-top:#EEE 2px solid;
	border-bottom:#EEE 2px solid;
}

// ---------- Block layout -------- //

.block{
	display: block;
	margin:10px auto;
	padding:0;
	text-align: center;
	.media, .media-desc{
		vertical-align: middle;
	}
	.media{
		display: inline-block;
	}
	.media-desc{
		display: inline-block;
		max-width:500px;
		margin:0 0 0 20px;
		padding:10px;
		text-align: left;
		h3{
			margin:10px 0;
		}
	}
}


.latest{
	display: block;
	margin:0 auto 30px;
	li{
		padding-left:20px;
		border-left:#9fabb9 2px solid;
	}
	a{
		font-size: 1.5em;
		font-weight: 600;
	}
}

// ------- White content container ------- //
.body-notice{
    margin:0 auto;
    padding:20px;
    max-width:900px;
    background:#fff;
    text-align: left;
    box-shadow: rgba(0,0,0,0.2) 0px 1px 4px;
    border-radius: 4px;
}


@media screen and (max-width:550px){
	.page-title{
		margin:0 0 5px;
		padding:10px 0;
		font-size: 1.5em;

	}
}
