
.footer{
	margin:0 auto 50px;
}

.dark-bg{
	color:#fff;
	text-shadow:#000 0px 1px 1px;
	a{
		color:lighten(#45556C, 40%);
		&:hover{
			color:#fff;
		}
	}
}

.foot-avatar{
	width:150px;
	height:150px;
	border-radius:5px;
	overflow: hidden;
	img{
		border-radius:5px;
		border:0;
		overflow: hidden;
	}
}


.about{
	width:100%;
	margin:40px auto 0;
	padding:20px 0 40px;
	background-image:url(../assets/img/footer-bg.jpg);
	background-position: center bottom;
	background-repeat: no-repeat;
	background-color: #222933;
	
}

.copyright{
	font-size: 0.85em;
	color:#666;
	text-align: center;
}
