
// entries on home page
.entry{
	margin:auto;
	padding:1.5em 0 1.5em;
	border-top:#EEE 2px solid;

	.h2{
		margin:0 0 20px;
	}
	p{
		color:#444;
	}
	img{
		max-width:100%;
	}
	&:first-of-type{
		border-top:none;
	}

}
.entry-info{
	display: block;
	margin:10px 0;
	line-height: 1.7em;
	font-size: 0.8em;
	color:#444;
}

.entry-cont{
	float:right;
	clear:left;
}

.entry-links{
	margin:0 auto 35px;
	text-align: center;
 	a{
		margin:0 5px;
		padding:10px 20px;
		font-size: 0.85em;
		color:#fff;
		background:#222;
		border-radius:20px;
		-webkit-transition:all 0.1s ease-in-out;
		-moz-transition:all 0.1s ease-in-out;
		-ms-transition:all 0.1s ease-in-out;
		-o-transition:all 0.1s ease-in-out;
		transition:all 0.1s ease-in-out;
		&:hover{
			color:#333;
			background:#fff;
		}
	}
}


// single post styles
.post{

	.h2, h2, .h3, h3{
		padding:0.5em 0;
		font-weight: 600;
		border-top:#EEE 1px solid;
		border-bottom:#EEE 1px solid;
	}
	
	p{
		margin:0 auto 2em;
		font-size: 1.10em;
	}

	img{
		display: block;
		width:90%;
		margin:0 auto 3em;
	}

	ul{
		margin:10px auto 3em;
		font-size: 0.95em;
		color:#444;
		li{
			margin:10px 10px;
			padding-left:10px;
			border-left:#EEE 2px solid;
		}
	}

	.inline-code{
		background:#222;
		padding:5px 10px;
		font-size: 0.85em;
		color:#f0ebd5;
		text-shadow:none;
		border-radius:5px;
	}

}

.share-button{
	display: inline-block;
	float:right;
	margin:0 5px 10px;
}



@media screen and (max-width:550px){
	// entries on home page
	.entry{
		margin:auto;
		padding:1em 0 1em;
		border-top:#EEE 2px solid;

		.h2{
			font-size: 1.35em;
			margin:0 0 10px;
		}

	}
}

