@import url(http://fonts.googleapis.com/css?family=Ubuntu:400,500,700);
/* YUI 3.5.0 reset.css (http://developer.yahoo.com/yui/3/cssreset/) - http://cssreset.com */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

fieldset, img {
  border: 0; }

address, caption, cite, code, dfn, em, strong, th, var {
  font-style: normal;
  font-weight: normal; }

ol, ul {
  list-style: none; }

caption, th {
  text-align: left; }

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal; }

q:before, q:after {
  content: ''; }

abbr, acronym {
  border: 0;
  font-variant: normal; }

sup {
  vertical-align: text-top; }

sub {
  vertical-align: text-bottom; }

input, textarea, select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit; }

input, textarea, select {
  *font-size: 100%; }

legend {
  color: #000; }

@font-face {
  font-family: 'icomoon';
  src: url("/assets/fonts/icomoon.eot");
  src: url("/assets/fonts/icomoon.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/icomoon.woff") format("woff"), url("/assets/fonts/icomoon.ttf") format("truetype"), url("/assets/fonts/icomoon.svg#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

[data-icon]:before {
  font-family: 'icomoon';
  content: attr(data-icon);
  speak: none;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased; }

body {
  font-family: "Ubuntu", sans-serif;
  font-size: 100%;
  background-color: #f8f8f8;
  text-shadow: #fff 0px 1px 0px; }

.wrap {
  max-width: 900px;
  margin: auto;
  padding: 0 20px; }

.inner-wrap {
  max-width: 800px;
  margin: auto;
  padding: 0 20px; }

p {
  line-height: 2em;
  margin: 0 0 20px; }

strong {
  font-weight: 600; }

em {
  font-style: italic; }

a {
  color: #45556c;
  text-decoration: none; }
  a:hover {
    color: #000; }

.txt-ctr {
  text-align: center; }

h1, .h1 {
  font-size: 2em;
  font-weight: 700;
  margin: 0.67em 0; }

h2, .h2 {
  font-size: 1.5em;
  font-weight: 600;
  margin: 0.83em 0; }

h3, .h3 {
  font-size: 1.17em;
  font-weight: 500;
  margin: 1em 0; }

h4, .h4 {
  font-size: 1em;
  margin: 1.33em 0; }

h5, .h5 {
  font-size: 0.83em;
  margin: 1.67em 0; }

h6, .h6 {
  font-size: 0.67em;
  margin: 2.33em 0; }

.left {
  float: left; }

.right {
  float: right; }

.clear {
  clear: both; }

.nav {
  /* overflow: hidden; */ }

.nav li {
  display: inline-block;
  margin-left: -0.32em;
  /*float: left;*/ }

/* pushes the first li back in place */
.nav li:first-child {
  margin-left: 0; }

.nav li a {
  display: block; }

@media screen and (max-width: 550px) {
  p {
    line-height: 1.6em; } }
/* retina swapping code */
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  /* Retina-specific stuff here */ }
.header {
  width: 100%;
  background-image: url(/assets/img/header-bg.jpg);
  background-position: top center;
  background-repeat: no-repeat;
  background-color: #222933;
  text-align: center;
  padding-bottom: 20px;
  background-size: 100%; }
  @media screen and (max-width: 1500px) {
    .header {
      background-size: auto; } }

.head-text {
  padding: 80px 0 0 0;
  min-height: 215px;
  color: #fff;
  font-size: 2em;
  text-shadow: #000 0px 2px 4px;
  text-align: center; }

.tagline {
  margin: 20px 0 0;
  font-size: 2em;
  font-weight: 600;
  -webkit-transition: all 0.7s ease-in-out;
  -moz-transition: all 0.7s ease-in-out;
  -o-transition: all 0.7s ease-in-out;
  -ms-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out; }

.sub-tagline {
  margin: 0;
  font-size: 1em;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -webkit-transition: all 0.7s ease-in-out;
  -moz-transition: all 0.7s ease-in-out;
  -o-transition: all 0.7s ease-in-out;
  -ms-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out; }

.lift-text .tagline {
  margin: 0; }
.lift-text .sub-tagline {
  opacity: 1; }

.badge {
  display: block;
  position: relative;
  width: 100px;
  height: 100px;
  margin: -40px auto 20px;
  padding: 0;
  border-radius: 100%;
  border: #3a4450 4px solid;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 4px;
  overflow: hidden;
  z-index: 9999; }
  .badge img {
    display: block;
    margin: auto;
    border: 0;
    border-radius: 100%;
    overflow: hidden; }

.module-badge {
  margin: auto; }

#typed-cursor {
  font-weight: 100;
  padding: 0 2px;
  -webkit-animation: blink 1s infinite;
  -moz-animation: blink 1s infinite;
  -ms-animation: blink 1s infinite;
  -o-animation: blink 1s infinite;
  animation: blink 1s infinite; }

@media screen and (max-width: 800px) {
  .head-text {
    padding: 50px 0 0;
    min-height: 180px;
    font-size: 1.75em; } }
@media screen and (max-width: 600px) {
  .head-text {
    padding: 30px 0 0;
    min-height: 150px;
    font-size: 1.5em; } }
@media screen and (max-width: 550px) {
  .head-text {
    padding: 20px 0 0;
    font-size: 1em;
    min-height: 110px;
    margin: 0 -100px; } }
@-webkit-keyframes blink {
  0% {
    opacity: 1; }

  50% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@-moz-keyframes blink {
  0% {
    opacity: 1; }

  50% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@-ms-keyframes blink {
  0% {
    opacity: 1; }

  50% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@-o-keyframes blink {
  0% {
    opacity: 1; }

  50% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@keyframes blink {
  0% {
    opacity: 1; }

  50% {
    opacity: 0; }

  100% {
    opacity: 1; } }

.nav {
  list-style: none;
  margin: 40px auto;
  text-align: center; }
  .nav li {
    display: inline-block;
    margin: 10px 15px; }
  .nav .label {
    padding: 0 0 0 5px; }

.main-nav {
  list-style: none;
  display: block;
  margin: 0;
  text-align: center; }
  .main-nav li {
    display: inline-block;
    margin: 5px 15px;
    vertical-align: top; }
  .main-nav a {
    display: block;
    width: 95px;
    padding: 15px 0;
    color: #fff;
    font-size: 2.25em;
    text-decoration: none;
    text-shadow: none;
    border-radius: 3px;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out; }
    .main-nav a:hover {
      color: #333;
      background: #fff; }
  .main-nav .label {
    display: block;
    clear: both;
    font-size: 0.5em; }

.divider {
  display: block;
  margin: 5px auto;
  width: 50%;
  height: 1px;
  border-top: rgba(0, 0, 0, 0.1) 1px solid;
  border-bottom: rgba(255, 255, 255, 0.2) 1px solid; }

.sub-nav {
  margin: 0 0 30px;
  font-size: 0.6em; }
  .sub-nav a {
    width: 60px;
    padding: 10px 0; }

.inline-nav {
  display: inline-block;
  vertical-align: top; }

@media screen and (max-width: 800px) {
  .main-nav {
    font-size: 0.8em; }
    .main-nav a {
      width: 80px; }

  .sub-nav {
    font-size: 0.6em; }
    .sub-nav a {
      width: 60px; } }
@media screen and (max-width: 650px) {
  .divider {
    width: 60%; }

  .main-nav li {
    margin: 5px 10px; } }
@media screen and (max-width: 550px) {
  .divider {
    width: 50%; }

  .main-nav {
    font-size: 0.6em; }
    .main-nav li {
      margin: 5px 5px; }
    .main-nav a {
      width: 70px; }

  .sub-nav {
    font-size: 0.5em; }
    .sub-nav a {
      width: 50px; } }
.page-title {
  margin: 0px 0 10px;
  padding: 15px 0;
  font-size: 2em;
  font-weight: 600;
  color: #333;
  border-top: #EEE 2px solid;
  border-bottom: #EEE 2px solid; }

.block {
  display: block;
  margin: 10px auto;
  padding: 0;
  text-align: center; }
  .block .media, .block .media-desc {
    vertical-align: middle; }
  .block .media {
    display: inline-block; }
  .block .media-desc {
    display: inline-block;
    max-width: 500px;
    margin: 0 0 0 20px;
    padding: 10px;
    text-align: left; }
    .block .media-desc h3 {
      margin: 10px 0; }

.latest {
  display: block;
  margin: 0 auto 30px; }
  .latest li {
    padding-left: 20px;
    border-left: #9fabb9 2px solid; }
  .latest a {
    font-size: 1.5em;
    font-weight: 600; }

.body-notice {
  margin: 0 auto;
  padding: 20px;
  max-width: 900px;
  background: #fff;
  text-align: left;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 4px;
  border-radius: 4px; }

@media screen and (max-width: 550px) {
  .page-title {
    margin: 0 0 5px;
    padding: 10px 0;
    font-size: 1.5em; } }
.entry {
  margin: auto;
  padding: 1.5em 0 1.5em;
  border-top: #EEE 2px solid; }
  .entry .h2 {
    margin: 0 0 20px; }
  .entry p {
    color: #444; }
  .entry img {
    max-width: 100%; }
  .entry:first-of-type {
    border-top: none; }

.entry-info {
  display: block;
  margin: 10px 0;
  line-height: 1.7em;
  font-size: 0.8em;
  color: #444; }

.entry-cont {
  float: right;
  clear: left; }

.entry-links {
  margin: 0 auto 35px;
  text-align: center; }
  .entry-links a {
    margin: 0 5px;
    padding: 10px 20px;
    font-size: 0.85em;
    color: #fff;
    background: #222;
    border-radius: 20px;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out; }
    .entry-links a:hover {
      color: #333;
      background: #fff; }

.post .h2, .post h2, .post .h3, .post h3 {
  padding: 0.5em 0;
  font-weight: 600;
  border-top: #EEE 1px solid;
  border-bottom: #EEE 1px solid; }
.post p {
  margin: 0 auto 2em;
  font-size: 1.10em; }
.post img {
  display: block;
  width: 90%;
  margin: 0 auto 3em; }
.post ul {
  margin: 10px auto 3em;
  font-size: 0.95em;
  color: #444; }
  .post ul li {
    margin: 10px 10px;
    padding-left: 10px;
    border-left: #EEE 2px solid; }
.post pre {
  margin: 0 auto 2em;
  padding: 20px;
  color: #f0ebd5;
  font-family: "Monaco", sans-serif;
  text-shadow: none;
  background: #222;
  border-radius: 5px;
  overflow: auto; }
.post .inline-code {
  background: #222;
  padding: 5px 10px;
  font-size: 0.85em;
  color: #f0ebd5;
  text-shadow: none;
  border-radius: 5px; }

.share-button {
  display: inline-block;
  float: right;
  margin: 0 5px 10px; }

@media screen and (max-width: 550px) {
  .entry {
    margin: auto;
    padding: 1em 0 1em;
    border-top: #EEE 2px solid; }
    .entry .h2 {
      font-size: 1.35em;
      margin: 0 0 10px; } }
.module {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  margin: 0;
  padding: 0;
  width: 400px;
  height: 100%;
  color: #fff;
  text-shadow: none;
  background: #222933;
  background-image: url(/assets/img/header-bg.jpg);
  background-position: top center;
  background-size: auto 100%;
  overflow: hidden;
  z-index: 9999999; }

.module-head {
  margin: 0 auto;
  padding: 20% 0 0;
  width: 100%;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: auto 100%;
  text-align: center; }
  .module-head .badge {
    width: 150px;
    height: 150px;
    margin: 0 auto 50px;
    border-color: #222933;
    box-shadow: #000 0px 2px 10px; }
  .module-head a {
    color: #fff; }
    .module-head a:hover {
      color: #333; }

.module-body {
  position: absolute;
  padding: 20px 30px 0 10px;
  top: 0;
  bottom: 0;
  left: 415px;
  right: 0;
  overflow: auto;
  text-align: center; }

.module-inner-wrap {
  margin: auto;
  max-width: 700px;
  text-align: left; }

.module-body-list {
  display: block; }
  .module-body-list li {
    padding: 0 0 1em 0;
    border-bottom: #EEE 2px solid; }

aside {
  display: inline-block;
  vertical-align: top; }

.sidebar {
  margin: 20px 0;
  padding: 0 50px;
  text-align: left; }

.top-list {
  display: inline-block;
  margin: 0 20px 0 0; }
  .top-list .label {
    margin: 0 10px 0 0;
    font-weight: 500; }
  .top-list li {
    display: inline-block;
    margin: 0 0 25px 0; }
    .top-list li a {
      font-size: 0.8em;
      margin: 0 0.5em 0 0;
      padding: 0.5em 1em 0.5em 0;
      border-right: #EEE 2px solid; }

.ex-dm-title {
  text-align: center;
  font-size: 2.5em; }

.ex-dm-link {
  display: inline-block;
  text-align: center; }
  .ex-dm-link a {
    padding: 10px 20px;
    color: #fff;
    text-shadow: none;
    background: #333;
    border-radius: 20px; }
    .ex-dm-link a:hover {
      color: #333;
      background: #fff; }

.target-toggle {
  position: absolute;
  display: block;
  padding: 5px;
  left: 10px;
  bottom: 20px;
  width: 40px;
  height: 35px;
  font-size: 0.8em;
  opacity: 0.4;
  background: #000;
  border-radius: 5px;
  text-align: left;
  overflow: hidden;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }
  .target-toggle:hover {
    width: 220px;
    opacity: 0.6;
    box-shadow: rgba(0, 0, 0, 0.6) 0px 0px 4px; }
    .target-toggle:hover span {
      opacity: 1; }
  .target-toggle span {
    position: absolute;
    margin: -3px 10px;
    padding: 0;
    display: inline-block;
    opacity: 0;
    font-size: 0.85em;
    line-height: 3em;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; }
  .target-toggle input {
    display: inline-block;
    padding: 5px;
    width: 30px;
    color: #999;
    background: none;
    border: none;
    text-align: left;
    cursor: pointer; }

@media screen and (max-width: 1200px) {
  .module {
    width: 300px; }
    .module .main-nav {
      font-size: 0.8em; }
      .module .main-nav a {
        width: 80px; }
    .module .sub-nav {
      font-size: 0.6em; }
      .module .sub-nav a {
        width: 60px; }

  .module-body {
    left: 315px; } }
@media screen and (max-width: 800px) {
  .module {
    position: relative;
    width: 100%;
    height: auto;
    max-width: none;
    background-size: auto auto; }

  .module-head {
    padding: 20px 0;
    min-height: auto; }
    .module-head .badge {
      width: 100px;
      height: 100px;
      margin: 10px auto 20px; }

  .module-body {
    position: relative;
    left: 0;
    padding: 0 10px;
    overflow: hidden; } }
.footer {
  margin: 0 auto 50px; }

.dark-bg {
  color: #fff;
  text-shadow: #000 0px 1px 1px; }
  .dark-bg a {
    color: #b0bccd; }
    .dark-bg a:hover {
      color: #fff; }

.foot-avatar {
  width: 150px;
  height: 150px;
  border-radius: 5px;
  overflow: hidden; }
  .foot-avatar img {
    border-radius: 5px;
    border: 0;
    overflow: hidden; }

.about {
  width: 100%;
  margin: 40px auto 0;
  padding: 20px 0 40px;
  background-image: url(../img/footer-bg.jpg);
  background-position: center bottom;
  background-repeat: no-repeat;
  background-color: #222933; }

.copyright {
  font-size: 0.85em;
  color: #666;
  text-align: center; }
