
.highlight{
  background: #181818;
  color:#f0ebd5;
  border-radius:.25em;
  position: relative;
  * { font-family: Consolas, Monaco,"Lucida Console"; }

  // .highlight { background-color: #ffffcc }
  // .c { color: #999988; font-style: italic } /* Comment */
  // .err { color: #a61717; background-color: #e3d2d2 } /* Error */
  // .k { color: #000000; font-weight: bold } /* Keyword */
  // .o { color: #000000; font-weight: bold } /* Operator */
  // .cm { color: #999988; font-style: italic } /* Comment.Multiline */
  // .cp { color: #999999; font-weight: bold; font-style: italic } /* Comment.Preproc */
  // .c1 { color: #999988; font-style: italic } /* Comment.Single */
  // .cs { color: #999999; font-weight: bold; font-style: italic } /* Comment.Special */
  // .gd { color: #000000; background-color: #ffdddd } /* Generic.Deleted */
  // .ge { color: #000000; font-style: italic } /* Generic.Emph */
  // .gr { color: #aa0000 } /* Generic.Error */
  // .gh { color: #999999 } /* Generic.Heading */
  // .gi { color: #000000; background-color: #ddffdd } /* Generic.Inserted */
  // .go { color: #888888 } /* Generic.Output */
  // .gp { color: #555555 } /* Generic.Prompt */
  // .gs { font-weight: bold } /* Generic.Strong */
  // .gu { color: #aaaaaa } /* Generic.Subheading */
  // .gt { color: #aa0000 } /* Generic.Traceback */
  // .kc { color: #000000; font-weight: bold } /* Keyword.Constant */
  // .kd { color: #000000; font-weight: bold } /* Keyword.Declaration */
  // .kn { color: #000000; font-weight: bold } /* Keyword.Namespace */
  // .kp { color: #000000; font-weight: bold } /* Keyword.Pseudo */
  // .kr { color: #000000; font-weight: bold } /* Keyword.Reserved */
  // .kt { color: #445588; font-weight: bold } /* Keyword.Type */
  // .m { color: #009999 } /* Literal.Number */
  // .s { color: #d01040 } /* Literal.String */
  // .na { color: #008080 } /* Name.Attribute */
  // .nb { color: #0086B3 } /* Name.Builtin */
  // .nc { color: #445588; font-weight: bold } /* Name.Class */
  // .no { color: #008080 } /* Name.Constant */
  // .nd { color: #3c5d5d; font-weight: bold } /* Name.Decorator */
  // .ni { color: #800080 } /* Name.Entity */
  // .ne { color: #990000; font-weight: bold } /* Name.Exception */
  // .nf { color: #990000; font-weight: bold } /* Name.Function */
  // .nl { color: #990000; font-weight: bold } /* Name.Label */
  // .nn { color: #555555 } /* Name.Namespace */
  // .nt { color: #000080 } /* Name.Tag */
  // .nv { color: #008080 } /* Name.Variable */
  // .ow { color: #000000; font-weight: bold } /* Operator.Word */
  // .w { color: #bbbbbb } /* Text.Whitespace */
  // .mf { color: #009999 } /* Literal.Number.Float */
  // .mh { color: #009999 } /* Literal.Number.Hex */
  // .mi { color: #009999 } /* Literal.Number.Integer */
  // .mo { color: #009999 } /* Literal.Number.Oct */
  // .sb { color: #d01040 } /* Literal.String.Backtick */
  // .sc { color: #d01040 } /* Literal.String.Char */
  // .sd { color: #d01040 } /* Literal.String.Doc */
  // .s2 { color: #d01040 } /* Literal.String.Double */
  // .se { color: #d01040 } /* Literal.String.Escape */
  // .sh { color: #d01040 } /* Literal.String.Heredoc */
  // .si { color: #d01040 } /* Literal.String.Interpol */
  // .sx { color: #d01040 } /* Literal.String.Other */
  // .sr { color: #009926 } /* Literal.String.Regex */
  // .s1 { color: #d01040 } /* Literal.String.Single */
  // .ss { color: #990073 } /* Literal.String.Symbol */
  // .bp { color: #999999 } /* Name.Builtin.Pseudo */
  // .vc { color: #008080 } /* Name.Variable.Class */
  // .vg { color: #008080 } /* Name.Variable.Global */
  // .vi { color: #008080 } /* Name.Variable.Instance */
  // .il { color: #009999 } /* Literal.Number.Integer.Long */

  // Custom link hover override
  a:hover{
    border:0;
  }

  pre {
      counter-reset: line-numbering;
      border-radius: 0;
      padding: 20px;
      font-size: 14px;
      line-height: 18px;
      margin-bottom: 30px;
      white-space: pre;
      overflow-x: auto;
      word-break: inherit;
      word-wrap: inherit;
      text-shadow:none;
      background:#222;
      border-radius:5px;
      overflow: auto;

    a::before {
      content: counter(line-numbering);
      counter-increment: line-numbering;
      padding-right: 1em; /* space after numbers */
      width: 25px;
      text-align: right;
      opacity: 0.7;
      display: inline-block;
      color: #aaa;
      background: #222;
      margin-right: 16px;
      padding: 2px 10px;
      font-size: 13px;
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }

    a:first-of-type::before {
      padding-top: 10px;
      border-top-left-radius: .25em;
    }

    a:last-of-type::before {
      padding-bottom: 10px;
      border-bottom-left-radius: .25em;
    }

    a:only-of-type::before {
      padding: 10px;
    }
  }

 .hll { background-color: #ffffcc }
 .c { color: #5F5A60; font-style: italic } /* Comment */
 .err { border:#B22518; } /* Error */
 .k { color: #CDA869 } /* Keyword */
 .cm { color: #5F5A60; font-style: italic } /* Comment.Multiline */
 .cp { color: #5F5A60 } /* Comment.Preproc */
 .c1 { color: #5F5A60; font-style: italic } /* Comment.Single */
 .cs { color: #5F5A60; font-style: italic } /* Comment.Special */
 .gd { background: #420E09 } /* Generic.Deleted */
 .ge { font-style: italic } /* Generic.Emph */
 .gr { background: #B22518 } /* Generic.Error */
 .gh { color: #000080; font-weight: bold } /* Generic.Heading */
 .gi { background: #253B22 } /* Generic.Inserted */
 .go {  } /* Generic.Output */
 .gp { font-weight: bold } /* Generic.Prompt */
 .gs { font-weight: bold } /* Generic.Strong */
 .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
 .gt {  } /* Generic.Traceback */
 .kc {  } /* Keyword.Constant */
 .kd { color: #e9df8f;  } /* Keyword.Declaration */
 .kn {  } /* Keyword.Namespace */
 .kp { color: #9B703F } /* Keyword.Pseudo */
 .kr {  } /* Keyword.Reserved */
 .kt {  } /* Keyword.Type */
 .m { } /* Literal.Number */
 .s {  } /* Literal.String */
 .na { color: #F9EE98 } /* Name.Attribute */
 .nb { color: #CDA869 } /* Name.Builtin */
 .nc { color: #9B859D; font-weight: bold } /* Name.Class */
 .no { color: #9B859D } /* Name.Constant */
 .nd { color: #7587A6 } /* Name.Decorator */
 .ni { color: #CF6A4C; font-weight: bold } /* Name.Entity */
 .nf { color: #9B703F; font-weight: bold } /* Name.Function */
 .nn { color: #9B859D; font-weight: bold } /* Name.Namespace */
 .nt { color: #CDA869; font-weight: bold } /* Name.Tag */
 .nv { color: #7587A6 } /* Name.Variable */
 .ow { color: #AA22FF; font-weight: bold } /* Operator.Word */
 .w { color: #141414 } /* Text.Whitespace */
 .mf { color: #CF6A4C } /* Literal.Number.Float */
 .mh { color: #CF6A4C } /* Literal.Number.Hex */
 .mi { color: #CF6A4C } /* Literal.Number.Integer */
 .mo { color: #CF6A4C } /* Literal.Number.Oct */
 .sb { color: #8F9D6A } /* Literal.String.Backtick */
 .sc { color: #8F9D6A } /* Literal.String.Char */
 .sd { color: #8F9D6A; font-style: italic; } /* Literal.String.Doc */
 .s2 { color: #8F9D6A } /* Literal.String.Double */
 .se { color: #F9EE98; font-weight: bold; } /* Literal.String.Escape */
 .sh { color: #8F9D6A } /* Literal.String.Heredoc */
 .si { color: #DAEFA3; font-weight: bold; } /* Literal.String.Interpol */
 .sx { color: #8F9D6A } /* Literal.String.Other */
 .sr { color: #E9C062 } /* Literal.String.Regex */
 .s1 { color: #8F9D6A } /* Literal.String.Single */
 .ss { color: #CF6A4C } /* Literal.String.Symbol */
 .bp { color: #00aaaa } /* Name.Builtin.Pseudo */
 .vc { color: #7587A6 } /* Name.Variable.Class */
 .vg { color: #7587A6 } /* Name.Variable.Global */
 .vi { color: #7587A6 } /* Name.Variable.Instance */
 .il { color: #009999 } /* Literal.Number.Integer.Long */

}

.code-select{
  bottom:0;
  right:0;
  position: absolute;
}