@import url(http://fonts.googleapis.com/css?family=Ubuntu:400,500);

*{
	padding:0;
	margin:0;
}

body{
	font-family: "Ubuntu", sans-serif;
	font-size: 100%;
	background:#f8f8f8;
}

a{
	text-decoration: none;
	color:#666;
	&:hover{
		color:#999;
	}
}
p{
	line-height: 2em;
	margin:0 0 20px;
}

.wrap{
	max-width: 700px;
	margin:auto;
}

.header{
	width:100%;
	min-height: 450px;
	margin:0 auto 30px;
	padding:10px 0;
	background:url(../img/header-bg.jpg) top center no-repeat fixed;
	background-size:100%;
	@media screen and (max-width:1500px){
		background-size:auto;
	}
	.h1{
		margin:10px 0 20px;
		font-size: 2.5em;
		text-align: center;
		color:#fff;
		text-shadow:#000 0px 2px 4px;
	}
}

.head-wrap{
	margin:30px auto 30px;

	-webkit-transition:all 0.5s ease-out;
		-moz-transition:all 0.5s ease-out;
			-ms-transition:all 0.5s ease-out;
				-o-transition:all 0.5s ease-out;
					transition:all 0.5s ease-out;
		text-align: center;
}
.tagline{
	display: block;
	padding:20px 0 0;
	opacity:0;
	color:#fff;
	font-weight: 600;
	text-shadow:#000 0px 1px 3px;
	-webkit-transition:all 0.5s ease-out;
		-moz-transition:all 0.5s ease-out;
			-ms-transition:all 0.5s ease-out;
				-o-transition:all 0.5s ease-out;
					transition:all 0.5s ease-out;
}
.shift-text{
	margin:80px auto 110px;
	.text-body{
		height:120px;
	}
	.tagline{
		opacity:0.9;
	}
}

@import "terminal";

.h2{
	margin:10px 0;
}
.note{
	text-align: center;
}

.inline-code{
	padding:2px 5px;
	background:#fff;
	border:#CCC 1px solid;
	border-radius:4px;
}
hr{
	margin:20px 0;
	border:0;
	border-bottom:#fff 1px solid;
	border-top:#f0f0f0 1px solid;
}

pre{
	margin:0 auto 20px;
	padding:20px;
	color:#444;
	font-family: "Consolas", "Courier New", "Courier";
	font-weight: 500;
	background:#fff;
	border:#EEE 1px solid;
	border-radius:10px;
	overflow: auto;
}

.typed-cursor{
	opacity: 1;
	font-weight: 100;
	-webkit-animation: blink 0.7s infinite;
	-moz-animation: blink 0.7s infinite;
	-ms-animation: blink 0.7s infinite;
	-o-animation: blink 0.7s infinite;
	animation: blink 0.7s infinite;
}

@-keyframes blink{
	0% { opacity:1; }
	50% { opacity:0; }
	100% { opacity:1; }
}
@-webkit-keyframes blink{
	0% { opacity:1; }
	50% { opacity:0; }
	100% { opacity:1; }
}
@-moz-keyframes blink{
	0% { opacity:1; }
	50% { opacity:0; }
	100% { opacity:1; }
}
@-ms-keyframes blink{
	0% { opacity:1; }
	50% { opacity:0; }
	100% { opacity:1; }
}
@-o-keyframes blink{
	0% { opacity:1; }
	50% { opacity:0; }
	100% { opacity:1; }
}

@import "buttons";

