---
layout: default
title: Matt Boldt Writes Ruby
desc: Ruby on Rails, JavaScript, and CSS tutorials, demos, and articles.
pagination: 
  enabled: true
---

<div class="row">
  <div class="three columns sidenav-wrapper">
    {% include nav.html %}
  </div>
  <div class="nine columns content-wrapper">
    {% for post in paginator.posts %}
      <article class="article-block">
        <h3 class="article-title">
          <a href="{{ post.url }}">{{ post.title }}</a>
        </h3>
        <span class="article-date">
          {{ post.date | date_to_string }}
        </span>
        <p>{{ post.desc }}</p>
      </article>
    {% endfor %}
  </div>
</div>

{% if paginator.previous_page %}
<a class="prev" href="{{paginator.previous_page_path}}">
  &lt;
</a>
{% endif %} &nbsp;&nbsp;&nbsp;&nbsp; {% if paginator.next_page %}
<a class="next" href="{{paginator.next_page_path}}">
  &gt;
</a>
{% endif %}

<p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>

<div class="share-button">
  <a href="https://twitter.com/share" class="twitter-share-button" data-via="atMattb" data-count="none">Tweet</a>
</div>
<a href="/posts/">View More</a>
