
<div class="footer wrap">
	<ul class="nav">
		<li>
			<a href="/demos/">
				<span class="icon" aria-hidden="true" data-icon="&#xe001;"></span>
				<span class="label">Demos</span>
			</a>
		</li>

		<li>
			<a href="/posts/">
				<span class="icon" aria-hidden="true" data-icon="&#xe005;"></span>
				<span class="label">Posts</span>
			</a>
		</li>

		<li>
			<a href="/me/">
				<span class="icon" aria-hidden="true" data-icon="&#xe002;"></span>
				<span class="label">Me</span>
			</a>
		</li>
		<li>
			<a href="http://www.twitter.com/atmattb">
				<span class="icon" aria-hidden="true" data-icon="&#xe000;"></span>
				<span class="label">Twitter</span>
			</a>
		</li>

		<li>
			<a href="http://www.github.com/mattboldt/">
				<span class="icon" aria-hidden="true" data-icon="&#xe003;"></span>
				<span class="label">Github</span>
			</a>
		</li>

		<li>
			<a href="http://www.forrst.com/people/mattboldt/">
				<span class="icon" aria-hidden="true" data-icon="&#xe004;"></span>
				<span class="label">Forrst</span>
			</a>
		</li>
		<li>
			<a href="http://www.codepen.io/mattboldt/">
				<span class="icon" aria-hidden="true" data-icon="&#xe006;"></span>
				<span class="label">Codepen</span>
			</a>
		</li>

	</ul>

	<p class="copyright">Copyright and stuff, mattboldt.com <span id="copyright-year">2016</span></p>
</div>
<script>
	$('#copyright-year').html(new Date().getFullYear())
</script>
