<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="CSS, HTML, JavaScript, and Ruby on Rails tutorials, demos, and articles." />
    <title>{{ page.title }} | {{ site.description }}</title>
  <link rel="icon" type="image/x-icon" href="/assets/img/favicon.ico" />
  <!-- G+ author & publisher -->
  <link rel="author" href="http://plus.google.com/100085691725629323730/"/>
  <link rel="publisher" href="http://plus.google.com/100085691725629323730/"/>
  <!-- G+ content -->
  <meta itemprop="name" content="Web Development &amp; Design Blog by Matt Boldt">
  <meta itemprop="image" content="http://www.mattboldt.com/assets/img/avatar.jpg">
  <meta itemprop="description" content="CSS, HTML, JavaScript, and Ruby on Rails tutorials, demos, and articles.">
  <!-- G+ Open Graph -->
  <meta property="og:title" content="Web Development &amp; Design Blog by Matt Boldt" />
  <meta property="og:image" content="http://www.mattboldt.com/assets/img/avatar.jpg" />
  <meta property="og:description" content="CSS, HTML, JavaScript, and Ruby on Rails tutorials, demos, and articles." />
  <!-- Twitter card -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@atmattb">
  <meta name="twitter:creator" content="@atmattb">
  <meta name="twitter:title" content="Web Development &amp; Design Blog by Matt Boldt">
  <meta name="twitter:description" content="CSS, HTML, JavaScript, and Ruby on Rails tutorials, demos, and articles.">
  <meta name="twitter:image" content="http://www.mattboldt.com/assets/img/avatar.jpg">
  <meta name="twitter:domain" content="mattboldt.com">

  <!-- External assets DSN -->
  <link rel="dns-prefetch" href="//fonts.googleapis.com">
  <link rel="dns-prefetch" href="//platform.twitter.com">
  <link rel="dns-prefetch" href="//www.google-analytics.com">
  <link rel="dns-prefetch" href="//p.twitter.com">
  <link rel="dns-prefetch" href="//cdn.api.twitter.com">
  <link rel="stylesheet" href="/css/main.css" />
  <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
<!--[if lte IE 7]><script src="/assets/fonts/lte-ie7.js"></script><![endif]-->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="/assets/js/main.js"></script>
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-11539016-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>

</head>
<body>

