<img src="/assets/img/avatar.jpg" alt="Matt Boldt Avatar" width="120" class="avatar">

<p>
  Ruby developer from Texas. I like Rails, React, and EmberJS. I make beats and synth patches, and sometimes I build furniture.
</p>

<ul class="side-nav">
  <li>
    <a href="/demos/">
      <i class="fa fa-cog"></i>
      Demos
    </a>
  </li>
  <li>
    <a href="http://www.twitter.com/atmattb">
      <i class="fa fa-twitter"></i>
      Twitter
    </a>
  </li>
  <li>
    <a href="http://www.github.com/mattboldt/">
      <i class="fa fa-github"></i>
      GitHub
    </a>
  </li>
</ul>

<!-- <script>
  new Typed('#typed', {
    strings: ["I'm Matt"]
  });
</script> -->
