<ul class="main-nav">
      <li class="_nav-demos">
          <a href="{{ site.url }}/demos/">
              <span class="icon" aria-hidden="true" data-icon="&#xe001;"></span>
              <span class="label">Demos</span>
          </a>
      </li>

      <li class="_nav-posts">
          <a href="{{ site.url }}/posts/">
              <span class="icon" aria-hidden="true" data-icon="&#xe005;"></span>
              <span class="label">Posts</span>
          </a>
      </li>

      <li class="_nav-me">
          <a href="{{ site.url }}/me/">
              <span class="icon" aria-hidden="true" data-icon="&#xe002;"></span>
              <span class="label">Me</span>
          </a>
      </li>
  </ul>
  <div class="divider"></div>
  <ul class="main-nav sub-nav">
      <li>
          <a href="http://www.twitter.com/atmattb">
              <span class="icon" aria-hidden="true" data-icon="&#xe000;"></span>
              <span class="label">Twitter</span>
          </a>
      </li>

      <li>
          <a href="http://www.github.com/mattboldt/">
              <span class="icon" aria-hidden="true" data-icon="&#xe003;"></span>
              <span class="label">Github</span>
          </a>
      </li>

      <li>
          <a href="http://www.forrst.com/people/mattboldt/">
              <span class="icon" aria-hidden="true" data-icon="&#xe004;"></span>
              <span class="label">Forrst</span>
          </a>
      </li>
      <li>
          <a href="http://www.codepen.io/mattboldt/">
              <span class="icon" aria-hidden="true" data-icon="&#xe006;"></span>
              <span class="label">Codepen</span>
          </a>
      </li>
  </ul>