<!-- <script>
  new Typed('#typed', {
    strings: ["I'm Matt"]
  });
</script> -->

<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>
        <a href="/">
          <img src="/assets/img/avatar.jpg" alt="Matt Boldt Avatar" width="120" class="avatar" />
        </a>
      </h1>
      <h3>
        <span id="typed"></span>
      </h3>
      <p class="lead">
        Ruby developer from Texas. I like Rails, React, and EmberJS.
        I make beats, synth patches, and coffee tables.
      </p>
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item" href="http://www.twitter.com/atmattb">
        <i class="fa fa-twitter"></i>
        Twitter
      </a>
      <a class="sidebar-nav-item" href="{{ site.github_url }}">
        <i class="fa fa-github"></i>
        GitHub
      </a>
      <a class="sidebar-nav-item" href="/demos/">
        <i class="fa fa-cog"></i>
        Demos
      </a>
      <a class="sidebar-nav-item" href="/me/">
        <i class="fa fa-book"></i>
        About
      </a>
    </nav>

    <p class="copyright">
      &copy; copyright and stuff {{ site.time | date: '%Y' }}
    </p>
  </div>
</div>

<script>
  new Typed('#typed', {
    strings: ["I'm Matt"],
    typeSpeed: 80,
    onComplete: function() {
      var cursor = document.getElementsByClassName('typed-cursor')[0];
      setTimeout(function() {
        cursor.style.animationIterationCount = 0;
      }, 2000);
    }
  })
</script>