
//  Import any webfont(s)
@import url(http://fonts.googleapis.com/css?family=Ubuntu:400,500,700);
@font-face {
  font-family: 'icomoon';
  src:url('/assets/fonts/icomoon.eot');
  src:url('/assets/fonts/icomoon.eot?#iefix') format('embedded-opentype'),
    url('/assets/fonts/icomoon.woff') format('woff'),
    url('/assets/fonts/icomoon.ttf') format('truetype'),
    url('/assets/fonts/icomoon.svg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
// Icon fonts
[data-icon]:before {
  font-family: 'icomoon';
  content: attr(data-icon);
  speak: none;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

/*
 * Global defaults
 */

// Centering wrapper width
$wrap-width: 1000px !default;
// Base bottom margin
$margin-bottom: .5em !default;
// Global line height
$line-height: 1.5em !default;
// Rounded corners
$border-radius: .25em !default;
// Set Grid Padding (as px)
$row-padding: .25em .75em !default;
// Desktop Media Query
$desktop: "(min-width: 1024px)" !default;
// Tablet Media Query
$tablet: "(min-width: 768px) and (max-width: 1023px)" !default;
// Mobile Media Query
$mobile: "(max-width: 767px)" !default;

* {
  @include box-sizing(border-box);
}

html{
  font-size:18px;
  line-height: $line-height;
}

body{
  font-family: "Ubuntu", sans-serif;
  background: #fff;
  color:#333;
}

// Virtical rhythm
h1,h2,h3,h4,h5,h6,
ul,ol,dl,
fieldset,
p,
table,
pre,
hr{
  margin-bottom:$margin-bottom;
}

/*
 * Typography
 */

p{
  margin-bottom: $margin-bottom;
  line-height: $line-height;
}

// Remove built in list styling
ol, ul {
  margin:0;
  padding:0;
  list-style: none;
}

// Basic link & button styles
a, button {
  color:#444;
  text-decoration: none;
  &:hover{
    color:#08c;
  }
}

// Normalize block quotes
blockquote, q {
  quotes: none;
}

// Remove pseudo elements
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* These handle massive type, for less frequently occuring bits of text (e.g. in mastheads and banners). */
.giga{
    font-size:80px;
    font-size:5em;     /* 80px */
    line-height:1.2;    /* 96px */
}
.mega{
    font-size:64px;
    font-size:4em;     /* 64px */
    line-height:1.125;  /* 72px */
}
.kilo{
    font-size:48px;
    font-size:3em;     /* 48px */
    line-height:1;      /* 48px */
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-weight: 500;
}

/* Define headings and their associated classes here. */
h1, .h1{
    font-size:32px;
    font-size:2em;     /* 32px */
    line-height:1.1;    /* 48px */
}
h2, .h2{
    font-size:1.5em;    /* 24px */
    line-height:1;      /* 24px */
}
h3, .h3{
    font-size:20px;
    font-size:1.25em;  /* 20px */
    line-height:1.2;    /* 24px */
}
h4, .h4{
    font-size:18px;
    font-size:1.125em; /* 18px */
    line-height:1.333;  /* 24px */
}
h5, .h5{
    font-size:16px;
    font-size:1em;     /* 16px */
    line-height:1.5;    /* 24px */
}
h6, .h6{
    font-size:16px;
    font-size:1em;     /* 16px */
    line-height:1.5;    /* 24px */
}

// Smaller than body copy
small, .small {
    font-size:12px;
    font-size:0.75em;  /* 12px */
    line-height:2;      /* 24px */
}

/*
 * Body defaults
 */


// Normalize tables
table {
  border-spacing: 0;
  border-collapse: collapse;
}

// Centered wrapper width
.container{
  margin:auto;
  max-width:$wrap-width;
}

.page-header{
  margin: 0 0 1em;
  border-bottom:#f0f0f0 1px solid;
  font-size: 1.25em;
  h1{
    margin-bottom: .5em;
    line-height: 1em;
  }
}

blockquote{
  margin:1em 0;
  padding:1em 1em 1em 2.5em;
  border-left:#f0f0f0 .25em solid;
  font-size: 1.15em;
  line-height: 1.5em;
}

.well{
  padding:1em 2em;
  background:#f8f8f8;
}

// Silent class for clear
%clear:after {
  display:table;
  clear:both;
  content:"";
}

// Silent class for hide-text
%hide-text {
  overflow:hidden;
  text-indent: 100%;
  white-space: nowrap;
}
