/*
 *  ColdCoffee CSS - A Front-end Framework for Anarchists
 */


/*  Globals
 *
 *  Styles used *literally* everywhere
 */

@import "globals/mixins";
@import "globals/functions";
@import "globals/normalize";
@import "globals/base";

/*  Components
 *
 *  Elements or blocks of elements that stand on their own
 */

@import "components/grid";
@import "components/flash";
@import "components/button";
@import "components/nav";
@import "components/list";
@import "components/progress-bar";
@import "components/pygments";

/*  Plugins
 *
 *  Fancy, or maybe bloated plugins
 */

// @import "plugins/";

/*  Sections
 *
 *  Styles specific to sections or areas of a site
 */

@import "sections/jumbotron";

@import "sections/home";
@import "sections/post";

@import "globals/media-queries";
