---
layout: static
title: Matt Boldt | About
---
{% include header.html %}
<style>._nav-me a{color:#333;background:#fff;}</style>

<div class="module">
    <div class="module-head">
        <div class="badge"><a href="/"><img src="/assets/img/avatar.jpg" width="100%" height="100%" style="max-width:500px"/></a></div>
        {% include nav.html %}

        <div class="target-toggle">
            <input type="button" class="_BLANK" value="Off"/>
            <input type="hidden" id="_BLANK-status" />
            <span class="target-text">Links open in the same window</span>
        </div>
    </div>
</div>

<div class="module-body">

    <h1 class="h1 page-title">
        Me
    </h1>

    <div class="body-notice">

        <div class="block">
            <div class="media foot-avatar">
                <img src="/assets/img/avatar2.jpg" width="100%" height="100%" />
            </div>
        </div>

    <h3 class="h3">A little About Me</h3>

    <p>
        I'm a web developer from Texas. I like to work on anything from graphic and UI design, to backend web programming.
        I've recently fallen in love with SASS, OOCSS, Ruby on Rails, and basically everything else that comes with the object oriented territory.
    </p>
    <p>
        At the time of writing, this site runs on a custom blog CMS writtin in PHP, but I have plans to move over to Rails in the very near future.
        I'm also proficient in JavaScript, and I most always use jQuery. If you liked the typing animation on my home page, I made a
        <a href="http://www.github.com/mattboldt/typed.js/" class="tg">jQuery plugin</a> for that.
    </p>

	<h3 class="h3">
        If you're looking for some of my work, you've come to the right place.
    </h3>

    <p>Have a look at the <a href="/demos/">demos I've built</a>, or check out the <a href="/">home page</a> where you'll find my blog posts.
        If you'd like, you can view my profile on <a href="http://www.github.com/mattboldt/" class="tg">Github</a>, <a href="http://www.forrst.com/people/mattboldt/" class="tg">Forrst</a>,
        or <a href="http://www.codepen.io/mattboldt" class="tg">Codepen</a>. I also have a profile on <a href="http://www.linkedin.com/in/mattboldt" class="tg">Linkedin</a>.
    </p>

    <p>
        Aside from my personal site, I'm the lead developer at <a href="http://www.macroplant.com" class="tg">Macroplant</a>, a software company that makes really cool
        apps for Mac and PC. Some of the most recent things I've built and helped build are <a href="http://www.macroplant.com/iexplorer">iExplorer's product pages</a>,
        our customer registration code <a href="http://www.macroplant.com/recover/" class="tg">recovery system</a>, the <a href="http://www.macroplant.com/contact.php" class="tg">customer support form</a>,
         <a href="http://www.macroplant.com/dupeaway/" class="tg">Dupe Away's product page</a>,
        the <a href="http://www.getsharepod.com" class="tg">Sharepod site</a>, and much more.
    </p>

    <p>
        A good address to contact me at is <span class="h3">me (at) mattboldt.com</span><br /> I'm also usually glued to <a href="http://www.twitter.com/atmattb" class="tg">Twitter</a>,
        and sometimes <a href="http://www.app.net/boldt/" class="tg">App.net</a>.
    </p>

    <h3 class="h3">
        Interests
    </h3>

    <p>Another thing I'm very passionate about is music -- check out my <a href="http://www.last.fm/user/mattboldt/" class="tg">Last.fm profile</a>. I've played guitar for nearly half my life, and I also like to write, record, and produce music.
    Lately I've been in an electronic dance phase, of which you can listen to on my <a href="http://www.soundcloud.com/in-clouds/" class="tg">Soundcloud</a>.
    </p>

    <h3 class="h3">
        Other
    </h3>

    <p>
        The blurred photo used on this site's header and left side bar is of <a href="http://www.cliffsofmoher.ie/" class="tg">The Cliffs of Moher</a>, Ireland.
        I took the photo in April of 2012, while in the country for the <a href="http://www.ull.ie/" class="tg">&Uacute;ll Conference</a>. It's a beautiful place!
    </p>

</div>


    {% include footer.html %}
</div>