@tailwind preflight;
@tailwind components;
@tailwind utilities;

$primary: rgb(128, 128, 228);

%drop-shadow {
  border: black 1px solid;
  box-shadow: rgb(0, 0, 0) 4px 4px 0 0;
}

%negative-margins {
  margin-left: -1em;
  margin-right: -1em;
}

@import 'prism-onedark';
@import 'blog-post';
@import 'code';

*::selection {
  background: $primary;
  color: #fff;
}

body {
  font-family: 'PT Sans', serif;
}

img,
.image-tag {
  @extend %drop-shadow;
}

hr {
  position: relative;
  margin: 1em 0;
  border: 0;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #fff;
}

a {
  color: darken($primary, 30%);
  text-decoration: none;

  &:hover {
    color: $primary;
  }
}

.base-list {
  list-style: none;
  padding: 0;
}
